[2021-11-13 01:48] TelepathicGrunt commented on #155
As of RS 2.5.6, the compat code with waystones is actually on Fabric Waystone’s side. Their mod injects the pieces into my mod’s structure pools. I’ll let them know about this.

[2021-11-13 01:48] BrekiTomasson commented on #155
Thanks!

[2021-11-13 03:41] TelepathicGrunt commented on #153
Update on this issue, after speaking with a super smart modder on the codec stuff and doing some in-depth debugging, it turns out, you found a 1.17.1 Mojang bug that no one noticed before!

The bug is, if a structure is using json processor lists, and chunks are generated super fast, the structure crashes with a null processor. Specifically, when a chunk is partially created, it saves the pool ent

[2021-11-13 11:35] davidalb97 commented on #153
Wow the reason is much more interesting than I imagined. I suspect that fabric chunk pregenerator is much more CPU intensive than chunky, thus explaining why the latter took me hours to crash.
However it still doesn't explain why the frequency of the crash would increase with your mod installed.
I'll be looking forward to test your mod :+1:

[2021-11-13 20:26] TelepathicGrunt commented on #153
Since the crash only occurs with json processors, which all of my mod's structures uses, and it adds a ton of structures to the nether, it makes sense that the crash becomes far more likely with my mod on and also is going to happen with such a massive area being pregenned. Other structure mods may not add as many structures and they may be making their processors in code instead of json so they a

[2021-11-13 20:55] TelepathicGrunt commented on #155
looks like v2.2.1 fabric waystone fixes this now! https://www.curseforge.com/minecraft/mc-mods/fabric-waystones/files/3524411

I'll close this report

[2021-11-13 20:55] #155 closed, assigned to TelepathicGrunt

[2021-11-14 20:19] alcatrazEscapee commented on #154
Should no longer be an issue as of https://github.com/alcatrazEscapee/cyanide/commit/d3ed4dbf00a682d25a4e8651dcfc60008faac821 with Cyanide 1.2.2+

[2021-11-14 20:20] TelepathicGrunt commented on #154
Nice! I’ll close this now

[2021-11-14 20:20] #154 closed, assigned to nobody

[2021-11-15 12:07] davidalb97 commented on #153
I left it overnight running fabric chunky pregenerator's pregen and so far it seems like it fixed the issue on nether pregenaration.
I'll test on the rest of the dimensions overworld, end, appliedenergistics2, the_aether and voidz to see if the issue does not  happen there too.

Current log: https://pastebin.com/8NSadH2t

[2021-11-16 14:26] davidalb97 commented on #153
Sorry if it's taking too long, I've been encountering non related issues when pregenerating other dimensions.
So far I've tested with overworld, nether and end dimensions and no crash was thrown  when using your "no null processors" mod on my modpack, so it seems to be working.

[2021-11-16 14:28] TelepathicGrunt commented on #153
Alright nice! Thank you! I’ll close this report then. The No Null Processor mod is now released on CurseForge https://www.curseforge.com/minecraft/mc-mods/no-null-processors and the latest repurposed structures will print in the logs to people to download it to prevent the null processor issue for everyone else. That should be the end of that specific issue

[2021-11-16 14:28] #153 closed, assigned to TelepathicGrunt

[2021-11-16 16:17] davidalb97 commented on #153
Glad I could help :+1:

[2021-11-19 15:50] PuppetMasterZee opened #156 "Mansions Floating & Colliding with Terrain"
MC: 1.17.1
Fabric Loader: 0.12.5
Fabric API 0.42.1+1.17
repurposed_structures_fabric-2.5.7+1.17.1

Screenshots
[https://imgur.com/a/ow6Y7vl]

[2021-11-19 16:07] TelepathicGrunt commented on #156
That does not look like any structure from repurposed structures. Please use the /locate command and find who's structure that is actually from. Repurposed Structures's mansions looks like vanilla mansions with their blocks swapped. Like this:
![image](https://user-images.githubusercontent.com/40846040/142654352-27eefc48-74fa-411e-90ac-24a665c64dc8.png)

I hope this helps cleans up the confusion!

[2021-11-19 16:07] #156 closed, assigned to nobody

[2021-11-19 16:15] TelepathicGrunt commented on #156
I asked some friends and they said the structure you found is actually End Remastered's End Castle. That should help you out but yeah, nothing to do with Repurposed Structures
![image](https://user-images.githubusercontent.com/40846040/142655447-624efa37-40d0-44ef-bb99-c8738358bd44.png)

[2021-11-19 16:53] PuppetMasterZee commented on #156
Whoops!  Sorry!   Thanks for your time.

[2021-11-23 07:08] ReiNAce opened #157 "Better Wandering Trader crash"
Minecraft is crashing at startup. Idk why. Attached is the crash logs. I am using MultiMC as MC loader in Fabric 0.12.5 for MC 1.17.1.
Please help. Thanks
[crash-2021-11-23_15.06.13-client.txt](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/7586260/crash-2021-11-23_15.06.13-client.txt)

[2021-11-23 07:20] ReiNAce commented on #157
I just installed no_null_processors and here is a new crash report.
[crash-2021-11-23_15.17.12-client.txt](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/7586302/crash-2021-11-23_15.17.12-client.txt)

[2021-11-23 12:25] TelepathicGrunt commented on #157
Caused by: java.lang.NullPointerException: Cannot read field "identifier" because "net.hyper_pigeon.better_wandering_trader.BetterWanderingTraderMod.CONFIG.invisibleTradeFactory.array[<local1>]" is null
	at net.minecraft.class_3853.<clinit>

It appears better wandering trader may be the problem. I am using fabric API’s hook for adding new trades to wandering traders and villagers. The only way it

[2021-11-25 16:34] ReiNAce commented on #157
ok thanks. I removed the wandering trader mod and it works. Can your mod be applied to an existing world or should I create a new world to view the structures? I haven't explored too much before I applied the mod so the chunks weren't loaded yet beyond my base area

[2021-11-25 16:54] TelepathicGrunt commented on #157
Repurposed Structures will only spawn the new structures in ungenerated chunks you have not explored yet. So if you add it to an existing world, you will need to explore further out but yes, you will eventually find the new structures. Hope this helps!

[2021-11-25 16:54] #157 closed, assigned to TelepathicGrunt

[2021-11-28 18:03] kwpugh opened #158 "[1.16.5] Modded dim crashes with Repurposed Structures"
Getting a crash inn my data pack caving  dim that uses Overworld type.

I'm not sure what might be going on.

Open issue:  https://github.com/kwpugh/mining_Dimensions-1.17/issues/15

[2021-11-28 18:15] TelepathicGrunt commented on #158
Closing cause 1.16.5 is no longer maintained and because the issue is most likely caused by Minegate lol
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/124

[2021-11-28 18:15] #158 closed, assigned to TelepathicGrunt

[2021-11-30 12:21] TelepathicGrunt commented on #140
done

[2021-11-30 12:21] #140 closed, assigned to TelepathicGrunt

[2021-11-30 14:35] RubyRezal opened #159 "Compatibility issue with Fabric Waystones: Mushroom Village generation stalls server"
Minecraft 1.18-rc3 (& rc4)
Repurposed Structures 3.1.1+1.18rc3
wraith-waystones-2.3.0

Problem: server stalling when Repurposed Structures attempts to generate Mushroom Village while Fabric Waystones is installed. (may also occur with any other non-vanilla villages, untested)

Message in Log:
Repurposed Structures: Failed to create valid structure with all required pieces starting from this pool f

[2021-11-30 16:09] RubyRezal commented on #159
This issue occurs even if the generation of waystones in villages is disabled in Frabic Waystones config.

[2021-11-30 16:38] RubyRezal opened #160 "Odd strips of wood planks near Savanna Village"
Location: NW of spawn, Seed: -1166828785

This happens with no other mods loaded except Fabric API and Cloth Config API

![2021-11-30_11 37 09](https://user-images.githubusercontent.com/1816386/144089072-11b8bc55-2529-46a3-b3bc-461496023a4f.png)

[2021-11-30 16:41] TelepathicGrunt commented on #160
This is actually a normal artifact with how I raised RS mineshafts spawn height ranges to allow them to spawn in mountains. The only think I need to change here is make sure the floor doesn’t place planks due to grass but otherwise, it is normal to see parts of the bottom of the mineshaft if it spawns just above terrain. Maybe I can see about adding a check to lower it if land is too low.

[2021-11-30 16:44] TelepathicGrunt commented on #159
It’s due to RS changing how it receives what pieces to try and always spawn and fabric waystones trying to adapt to the new system. V3.1.1 RS finalized the new system so now fabric waystones just needs to add special json files into their mod to finish the compatibility between the two mods

[2021-11-30 16:56] RubyRezal commented on #159
It appears Fabric Waystones will address this in their next version.
https://github.com/LordDeatHunter/FabricWaystones/issues/77#issuecomment-982761168

[2021-11-30 23:05] TelepathicGrunt commented on #160
fixed in v3.1.2

[2021-11-30 23:05] #160 closed, assigned to TelepathicGrunt

[2021-11-30 23:07] TelepathicGrunt commented on #106
Closing this now as I am moving onto 1.18 and it seems Allure was abandoned. rip that mod.

[2021-11-30 23:07] #106 closed

[2021-12-02 16:19] RubyRezal commented on #159
Issue resolved by Fabric Waystones update 2.3.1
https://github.com/LordDeatHunter/FabricWaystones/issues/77#issuecomment-983260411

[2021-12-02 16:19] #159 closed, assigned to TelepathicGrunt

[2021-12-04 04:42] TelepathicGrunt opened #161 "Snowy pyramids spawning in none snowy biomes"

[2021-12-04 16:38] TelepathicGrunt commented on #161
fixed in v3.1.5

[2021-12-04 16:38] #161 closed, assigned to TelepathicGrunt

[2021-12-04 17:19] FreeFull opened #162 "Repurposed Structures prevents AE2 meteorites from spawning"
Minecraft version 1.18.0
Mod list:
[code]
latest.log: https://gist.github.com/FreeFull/31dd81f0046be1d5ef20e556e70e3567

As far as I can tell, the meteorites are the only structure that fails to spawn with RS present. All the AE2 ores and such do spawn normally.

[2021-12-04 18:58] TelepathicGrunt commented on #162
fixed in v3.1.6

[2021-12-04 18:58] #162 closed, assigned to TelepathicGrunt

[2021-12-04 19:47] ghost opened #163 "Dependency warning in server console at startup"
Mod 'Repurposed Structures' (repurposed_structures) 3.1.6+1.18.0 recommends version 1.0.0 or later of no_null_processors, which is missing! - You should install version 1.0.0 or later of no_null_processors for the optimal experience.

I found no  null processors on curseforge but it doeesntt have a 1.18 version, there is also no mention of this dependency on the RS curseforge page

[2021-12-04 19:49] TelepathicGrunt commented on #163
I’ll remove it next update. Or update no null processor if the issue it has still exists in 1.18. Will need to be investigated

But you can just ignore it for now

[2021-12-04 20:14] TelepathicGrunt commented on #163
no null processor updated to 1.18 now. Issue still existed in 1.18

[2021-12-04 20:14] #163 closed, assigned to TelepathicGrunt

[2021-12-05 03:20] itsdinkd commented on #162
This also happens on 1.17

can you release the fix for that as well?!

[2021-12-05 03:25] TelepathicGrunt commented on #162
Uh. Beside support being dropped for 1.17 and below, the issue doesn’t actually exist in 1.17. The issue in 1.18 was RS’s deep noise copier wasn’t copying a specific configuredstructure field that was added only in 1.18 and so, it was conflicting with Fabric API’s BiomeModification API in that Mc version. As far as I know, RS works with other structure mods just fine in 1.17 and not even AOF 6 or

[2021-12-05 04:42] ghost commented on #163
@TelepathicGrunt Ok I will install  nnp on my server. Just curious what feature it enables in RS and if you will at it to the curseforgee page of RS so people know to get it? Thanks

[2021-12-05 06:41] itsdinkd commented on #162
I have more mods in my pack than AOF not sure how that's relevant, however,
if it isn't due to RS than it's something else. I figured it was because it
was fixed for 1.18. Never tried debugging to find out the cause.

On Sat, Dec 4, 2021, 7:25 PM TelepathicGrunt ***@***.***>
wrote:

[2021-12-05 11:34] TelepathicGrunt commented on #163
I can mark it as an optional dependency on curseforge. Basically, it doesn’t actually enable anything in RS. It’s more to fix a very rare and difficult vanilla bug to diagnose that started in 1.17+ Minecraft.

the bug is that if a structure with json processor lists (RS has this) is on and the player manages to make two different chunks with structure pieces generate at the very exact same time, t

[2021-12-05 14:29] TelepathicGrunt commented on #162
I booted up 1.17.1, put on RS, AE2, and many other structure mods. All seem to be working for me.
![image](https://user-images.githubusercontent.com/40846040/144750734-771787ab-2cee-4d1d-890e-11ec44f854a7.png)

Your best bet is check AE2's config first to make sure the meteors are not turned off. Then start looking for what mod could be conflicting

[2021-12-09 06:18] itsdinkd opened #164 "1.18 Crash"
From my modpack, AQM2. Player went into nether, saw a structure apparently and crashed.

---- Minecraft Crash Report ----
// My bad.

Time: 12/9/21, 12:45 AM
Description: Exception ticking world

java.lang.NoClassDefFoundError: com/telepathicgrunt/repurposedstructures/world/processors/DataBlockProcessor$DATA_PROCESSOR_MODE
	at com.telepathicgrunt.repurposedstructures.world.processors.DataBlockProc

[2021-12-09 09:01] ItsFooki opened #165 "[1.18] Fabric Waystones by LDH has typo in path for RS compat"
Modpack currently installed Better Minecraft 1.18
Basically error there speaks for it self. Fails to load a structure.
Keeping in mind this is on a server as well.
-------------------------------------------------------------------
Repurposed Structures: Failed to create valid structure with all required pieces starting from this pool file: repurposed_structures:villages/mountains/town_centers. Re

[2021-12-09 12:32] TelepathicGrunt commented on #165
Which Waystone mod (there’s two) are you using and are you on the very latest version of said Waystone mod?

[2021-12-09 13:00] TelepathicGrunt commented on #164
You crash is caused by the game unable to find the DataBlockProcessor$DATA_PROCESSOR_MODE class from... within that class at DataBlockProcessor.process. In my code I linked below, this crash should be literally impossible. Meaning, this isn't really caused by RS as far as I know but rather whatever is going on in your server is completely wrecking how the jvm should be running code properly.

http

[2021-12-09 13:07] TelepathicGrunt commented on #164
Just to be sure, you did not mess with the RS jar file itself right?

This is like this crash where this inner class was unable to be found
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/146

Again, no one and not even me can reproduce it. And when you said "Nope! I turned it back on, it just randomly stopped getting that crash. maybe something happened in one of your update

[2021-12-10 01:28] itsdinkd commented on #164
The server is brand new, has nothing to do with the server from my earlier reports (Just made the 1.18 pack). I haven't touched your JAR file, and I am the only person with access into my server. But that's definitely a concerning find that you found.

[2021-12-10 02:05] TelepathicGrunt commented on #165
It's a bug caused by Fabric Waystones by LDH due to a typo
https://github.com/LordDeatHunter/FabricWaystones/tree/master/src/main/resources/data/repurposed_structures/pool_additions/villages

Where there is mountaints, it should be mountains. They will fix it next update.

[2021-12-10 02:13] TelepathicGrunt commented on #165
if you update to v2.3.4 fabric waystones, the issue should be fixed!
https://www.curseforge.com/minecraft/mc-mods/fabric-waystones/files/3556857

[2021-12-10 02:13] #165 closed, assigned to TelepathicGrunt

[2021-12-12 10:32] kevahu opened #166 "Generating mineshafts crashes server"
I am pre-generating a map for my multiplayer server using the Repurposed Structures Mod for Fabric.
After a while of generating my server crashes when trying to generate the mineshaft_ocean or mineshaft_nether structures.

I am using Chunky to generate the chunks but because the crash report mentions those structures, I report it here.

It happens less when allocating more memory.

Any more inform

[2021-12-12 14:27] TelepathicGrunt commented on #166
This is a vanilla bug with json processors and creations multiple chunks at once. If you put on this mod called No Null Processor, it should fix the bug and prevent the crash. You can read the description for more info as to why it happens.  https://www.curseforge.com/minecraft/mc-mods/no-null-processors

[2021-12-12 14:27] #166 closed, assigned to TelepathicGrunt

[2021-12-12 15:08] TelepathicGrunt commented on #164
A frustrating as this is for everyone here including me, I have to close this. Other modders have no idea what the issue is. The code is perfectly valid java. But when you run the mod, your server violates how java is suppose to work. There is legitimately nothing I can do really. Using enums like this and with the matter rule test before should always exist.

You can peer into the jar itself and

[2021-12-12 15:08] #164 closed, assigned to TelepathicGrunt

[2021-12-12 20:52] itsdinkd commented on #164
you know I always appreciate you when I have to report something, you're very descriptive and try to explain whats going on and I thank you for that. That is fine if this ticket must be closed, I haven't seen this crash since. Maybe the docker my server host uses doesn't agree with certain things? I'm not too sure entirely that being said I will definitely be keeping your mod in my modpack.

[2021-12-13 00:44] RyanCR03 opened #167 "Mineshaft Walls don't connect"
the walls of the mineshafts arent connected and I assume that its because the structures were created before 1.1
![2021-12-12_18 42 55](https://user-images.githubusercontent.com/32957560/145736533-15421b41-64e2-4b4e-905c-ae785c39d64f.png)
6

[2021-12-13 19:59] ClaudiusMinimus opened #169 "ModResolutionException on 1.18.1 Server"
Even though Repurposed Structures 3.1.10+1.18.1 runs fine the client, it does not run on a server

- Repurposed Structures 3.1.10+1.18.1
- Minecraft 1.18.1
- Fabric Loader: 0.12.11
- Fabric API: 0.44.0

[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/7706559/latest.log)

[2021-12-13 20:11] ClaudiusMinimus commented on #169
My install script messed up. Likely it will run when I fix it. If it runs, then I will close this issue.

[2021-12-13 20:30] ClaudiusMinimus commented on #169
Changing the install script to use Minecraft 1.18.1 fixed it.

Thanks!
CM

[2021-12-13 20:30] #169 closed, assigned to nobody

[2021-12-14 13:39] TelepathicGrunt opened #170 "Ocean mineshaft should heightmap snap to ocean floor is above it"

[2021-12-17 18:10] gyular opened #171 "Support korean translation and print text error in config gui in-game."
If you fine, plesase add korean translation.
This is that i translated file.
https://gist.github.com/gyular/75ec6fc8206bd295673acc88e993e536

And
In Mod Menu's in-game config GUI,

RSMansionsConfig.pillarOnlyToLand in Mansions Menu
RSVillagesConfig.spawnrate.villageMushroomAverageChunkDistance in Villeges Menu's spawnrate

Not print correct text.

[2021-12-17 22:01] TelepathicGrunt commented on #171
Yeah I can add that file to the mod after I format it. If you want to see the clean formatted translations, you can find them here which will make it much easier to read and translate stuff
<https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/tree/latest-released/src/main/resources/assets/repurposed_structures/lang>

Thank you tho!

[2021-12-18 07:54] gyular commented on #171
Okay, I updated file.
https://gist.github.com/gyular/75ec6fc8206bd295673acc88e993e536

[2021-12-19 19:16] TelepathicGrunt commented on #171
the translation is now released in v3.1.11! thank you!

[2021-12-19 19:16] #171 closed, assigned to TelepathicGrunt

[2021-12-19 19:16] TelepathicGrunt commented on #170
fixed in  v3.1.11

[2021-12-19 19:16] #170 closed, assigned to TelepathicGrunt

[2021-12-19 19:16] TelepathicGrunt commented on #167
fixed in  v3.1.11

[2021-12-19 19:16] #167 closed, assigned to TelepathicGrunt

[2022-01-06 11:12] RyanCR03 opened #172 "[Suggestion] Illusioner Hut"
a structure like the witch hut that instead contains an illusioner and a killer rabbit

[2022-01-06 12:28] TelepathicGrunt commented on #172
RS is about making new biome or dimension variants of vanilla structures. Not really for making custom new structures from scratch. That's better done for other structure mods to do like mo structures or Worldshape.

[2022-01-06 12:28] #172 closed, assigned to nobody

[2022-01-06 13:41] RyanCR03 commented on #172
but its not from scratch its the witch hut

[2022-01-06 22:42] TelepathicGrunt commented on #172
illagers and killer rabbits is too far removed from vanilla tho. possibly will make a lot of people hate me for spawning killer bunnies too that kill them and illusioners arent suppose to spawn as they are an unused mob. plus those mobs dont even fit the style of a witch hut.

[2022-01-18 07:34] griffin4cats opened #173 "[Suggestion] Config for dungeon types"
While the blaze, zombie piglin, strider, and magma cube dungeons in the nether are interesting, I think our server believes that the wither skeleton ones are a bit too op. It would be nice to have config to turn certain spawners off.

[2022-01-18 10:27] TelepathicGrunt commented on #173
Spawner mob types are already configurable for RS. You can do so by editing this datapack and putting it into the server’s datapack folder or other dedicated datapack loading mod’s folders. https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/releases/tag/0.0.5

The config section on my curseforge page goes into detail of what is configurable and has links to example datapacks for ease o

[2022-01-18 10:27] #173 closed, assigned to TelepathicGrunt

[2022-01-20 14:06] RyanCR03 opened #174 "[Suggestion] Unwrecked ship"
similar to the nether ships there could be a ship on water that uses one of the shipwreck models. add a few wool blocks for the sail and make pillagers spawn there

[2022-01-21 23:32] B00MxHartShotx opened #175 "Issue with generating - Nether Mineshaft"
[21.01 22:13:25] [Server] ---- Minecraft Crash Report ----
[21.01 22:13:25] [Server] // Surprise! Haha. Well, this is awkward.
[21.01 22:13:25] [Server] Time1/21/22, 10:13 PM
[21.01 22:13:25] [Server] DescriptionFeature placement
[21.01 22:13:25] [Server] java.lang.NullPointerExceptionCannot invoke "net.minecraft.class_6796.method_39644(net.minecraft.class_5281, net.minecraft.class_2794, java.util

[2022-01-21 23:34] B00MxHartShotx commented on #175
I hope that this portion of the log was helpful. I have had three crashes all with the following:

[21.01 22:13:25] [Server] -- Feature --
[21.01 22:13:25] [Server] Details:
[21.01 22:13:25] [Server] DescriptionResourceKey[minecraft:worldgen/structure_feature / repurposed_structures:mineshaft_nether]

[2022-01-21 23:35] B00MxHartShotx commented on #175
[21.01 23:30:29] [Server] ---- Minecraft Crash Report ----
[21.01 23:30:29] [Server] // Who set us up the TNT?
[21.01 23:30:29] [Server] Time1/21/22, 11:30 PM
[21.01 23:30:29] [Server] DescriptionFeature placement
[21.01 23:30:29] [Server] java.lang.NullPointerExceptionCannot invoke "net.minecraft.class_6796.method_39644(net.minecraft.class_5281, net.minecraft.class_2794, java.util.Random, net.min

[2022-01-21 23:49] TelepathicGrunt commented on #175
what minecraft version are you on and what RS version as well? What other mods are running too? I need a bit more info. I'm testing right now with 1.18.1 Minecraft using 3.3.1 RS and Nether Mineshafts are not crashing.

![image](https://user-images.githubusercontent.com/40846040/150614250-ad9a12a7-9bb3-4ace-bca0-6a17a82a1273.png)

[2022-01-22 00:02] B00MxHartShotx commented on #175
[23:24:34] [main/INFO]: Loading Minecraft 1.18.1 with Fabric Loader 0.12.12
[23:24:34] [ForkJoinPool-1-worker-8/WARN]: The mod "netherchest" contains invalid entries in its mod json:
- Unsupported root entry "includes" at line 46 column 13
[23:24:34] [ForkJoinPool-1-worker-7/WARN]: The mod "libcd" contains invalid entries in its mod json:
- Unsupported root entry "licence" at line 9 column 12
[23:

[2022-01-22 00:13] B00MxHartShotx commented on #175
I believe that this portion of the log will show you the info that you need? I've only just started running a server in the last week and am trying to learn as I go :)

I ran a chunk pre-generator in the OW from 0,0 to a radius of 8000 blocks. That ran with no issue.
I started running the same pre-generator in the nether from 0,0 to a radius of 1500 blocks (to cover the 8000 block OW for portal tr

[2022-01-22 00:24] TelepathicGrunt commented on #175
If you are pregenning, you should be using this mod to prevent concurrency issues causing crashes
https://www.curseforge.com/minecraft/mc-mods/no-null-processors

The crash in your logs seems to be implying that something is breaking my nether mineshafts and making its placedfeatures that it should be spawning into null. Which is something no-null-processor will not fix. So the issue still remains

[2022-01-22 00:29] TelepathicGrunt commented on #175
I just put on as many of the mods that you have on and the Nether Mineshafts is still not crashing for me. Give No Null processors a try just in case tho.

![image](https://user-images.githubusercontent.com/40846040/150616656-7d54655c-a239-41ef-97b5-39a2e95bfc45.png)

[2022-01-22 01:38] B00MxHartShotx commented on #175
I'll try that after dinner (I've been cooking, sorry for delay) and then report back. I appreciate your time!

[2022-01-22 03:22] B00MxHartShotx commented on #175
Starting the server with that mod installed and client installed for future use.
I deleted the DIM-1 folder again and am going to start the nether fresh as we haven't even been there yet.
I'll let you know if I have further issues pertaining to generation/errors.

(Side note. The update for No Null Processors fabric to v2.0.1 is not tagged as 1.18.1 and won't install via the curseforge client. Tha

[2022-01-22 03:52] B00MxHartShotx commented on #175
You're fantastic and that fixed it! Thank you, Grunt.

[2022-01-22 03:52] #175 closed, assigned to TelepathicGrunt

[2022-01-22 17:35] Thiana opened #176 "Repurposed Structures v3.3.2 (1.18.1 fabric)"
You accidentally uploaded the dev environment version of v3.3.2 for fabric to curseforge. Thanks.

[2022-01-22 17:43] sorat0mo opened #177 "Installed no_null_processors, fabric loader complains about unmet dependency"
Error log:

[code]

Repurposed Structures version: v3.3.2
No_Null_Processors version: 2.0.2

[2022-01-22 17:44] Cr4fTJuNkiE opened #178 "RP 3.3.2 crashes with Fabric 0.12.12"
java.lang.RuntimeException: Failed to read accessWidener file from mod repurposed_structures
	at net.fabricmc.loader.impl.FabricLoaderImpl.loadAccessWideners(FabricLoaderImpl.java:480)
	at net.fabricmc.loader.impl.launch.knot.Knot.init(Knot.java:145)
	at net.fabricmc.loader.impl.launch.knot.Knot.launch(Knot.java:71)
	at net.fabricmc.loader.impl.launch.knot.KnotClient.main(KnotClient.java:23)
Cause

[2022-01-22 17:46] TelepathicGrunt commented on #177
You downloaded the forge version of no null processor.
This is the fabric version: https://www.curseforge.com/minecraft/mc-mods/no-null-processors/files/3570785

try with that jar and it should work fine. Usually mod launchers will download the correct file as I made sure the files are properly tagged as forge or fabric

[2022-01-22 17:49] TelepathicGrunt commented on #178
Give me a moment to check something. Might be due to the new system I am using to upload jars to curseforge

[2022-01-22 17:49] TelepathicGrunt commented on #177
Although you may want to wait a bit for the new update anyway as this issue came up
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/178

[2022-01-22 18:03] TelepathicGrunt commented on #178
try v3.3.3 now. The automated system I was switching to using for uploading to curseforge grabbed the wrong jar to upload. I went ahead and manually uploaded the correct jar myself while I go work with the dev of the automated task system to figure out what is wrong.

[2022-01-22 18:03] TelepathicGrunt commented on #176
try v3.3.3 now. The automated system I was switching to using for uploading to curseforge grabbed the wrong jar to upload. I went ahead and manually uploaded the correct jar myself while I go work with the dev of the automated task system to figure out what is wrong.

[2022-01-22 18:03] #176 closed, assigned to nobody

[2022-01-22 18:03] TelepathicGrunt commented on #177
try v3.3.3 now. The automated system I was switching to using for uploading to curseforge grabbed the wrong jar to upload. I went ahead and manually uploaded the correct jar myself while I go work with the dev of the automated task system to figure out what is wrong.

[2022-01-22 18:03] #177 closed, assigned to nobody

[2022-01-22 18:17] Cr4fTJuNkiE commented on #178
Will do. Thanks TG!

[2022-01-22 18:21] Cr4fTJuNkiE commented on #178
Works fine now! Thanks again!

[2022-01-22 18:21] #178 closed, assigned to TelepathicGrunt

[2022-01-23 05:40] supersaiyansubtlety opened #179 "Feature placement NPE crash"
[crash report](https://bpa.st/SYPA)

I was in the Nether. LMK if there's any other info you need not already in the crash report.

[2022-01-23 05:49] B00MxHartShotx commented on #179
https://www.curseforge.com/minecraft/mc-mods/feature-nbt-deadlock-be-gone
https://www.curseforge.com/minecraft/mc-mods/no-null-processors
do you have both of these?
i just came to make sure i closed my ticket about a similar issue and these fixed it

[2022-01-23 05:51] supersaiyansubtlety commented on #179
yeah, I do

the current version of the mod won't let the game launch if you don't have them (at least for no_null_processors)

[2022-01-23 05:52] B00MxHartShotx commented on #179
copy that. telepathicgrunt was quick and knew the answer when i reached out. do be safe!

[2022-01-23 12:40] TelepathicGrunt commented on #179
is this constantly happening in one place in the nether? Like was it a one time thing or is it stopping you from going a certain spot in the nether?

[2022-01-23 14:47] TelepathicGrunt commented on #179
If the issue is still persistent, try v3.3.4. The weird thing is the code it is saying it having a null crash is literally impossible for it to get null. So that's spooky. I tried something in v3.3.4 to see if it could solve it

https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/commit/b205e2707d21ceeb6c0fb3cf0bd4279ba6878a83

[2022-01-23 23:39] supersaiyansubtlety commented on #179
It only happened once, seemingly randomly, so unfortunately I can't effectively check if it's been fixed.

Some details:
- the overworld is a void world
- I'd only moved around a few chunks in the nether
- I'd entered and left the nether and saved+quit without issue before the crash
- I was in creative
- I flew around in new chunks a bit when trying to reproduce the crash

[2022-01-24 08:32] Heamaci opened #180 "startup crash"
I'm not sure what's causing this crash, but i can't launch the game anymore with one of the updates
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/7923919/latest.log)

[2022-01-24 12:05] TelepathicGrunt commented on #180
You’re missing the new dependencies required that helps to fix some nasty Minecraft bugs. Basically this part of the log states the issue:

[code]

You can download the two required mods from here:
https://www.curseforge.com/minecraft/mc-mods/no-null-processors
https://www.curseforge.com/minecraft/mc-mods/feature-nbt-deadlock-be-gone

I hope this helps clarify what’s going on.

[2022-01-24 12:05] #180 closed, assigned to nobody

[2022-01-24 22:37] TelepathicGrunt commented on #179
I think I'll close this now as I switched the map to be a ConcurrentHashMap and I am using computeIfAbsent so there should not be any concurrency issue or null values being thrown around for sure. Hopefully this was just a one time thing

[2022-01-24 22:37] #179 closed, assigned to TelepathicGrunt

[2022-01-29 18:27] Yucked opened #181 "C2ME Repurposed Structure fails to generate structure with default settings"
[code]

Related/unrelated issue: https://github.com/RelativityMC/C2ME-fabric/issues/115

[2022-01-29 18:35] TelepathicGrunt commented on #181
Is this 1.18.1? If so, RS doesn’t come with any required pieces checks for waystones. Rather, it is handled by datapacks or json files within the Waystone mods. So which Waystone mod are you trying to use and do you have any Waystone datapack? (There’s two Waystone mods on fabric)

furthermore, did you change any config for waystones?

[2022-01-29 19:23] Yucked commented on #181
This is 1.18.1.

repurposed_structures_fabric-3.3.6+1.18.1.jar
wraith-waystones-2.4.1.jar

I haven't modified any config files for both mods.

[2022-01-29 20:35] TelepathicGrunt commented on #181
Just tested with that waystone and repurposed structures. The waystones are spawning in the villages just fine with no change to config files and nothing in logs about issues spawning
![image](https://user-images.githubusercontent.com/40846040/151676762-f672cfe8-6b09-470a-91eb-8d4b9686afd4.png)

Can you share your latest.log file entirely? maybe there's an error in another json file that is killin

[2022-01-29 21:23] Yucked commented on #181
I should add this is on server side
Here you go: https://mclo.gs/ROFcQBn

[2022-01-29 21:26] LordDeatHunter commented on #181
The issue might be related to MoreVillagers. It's a known incompatibility for Waystone village generation, and I'm trying to fix it for the next FW update.

[2022-01-29 22:06] TelepathicGrunt commented on #181
highly unlikely as RS uses it's own jigsaw system that no one else touches. In fact, I just put on More Villagers 3.1.1 and my Repurposed_Structures-More_Villagers_v4 datapack and both waystones and more villagers stuff are spawning just fine
![image](https://user-images.githubusercontent.com/40846040/151679022-6cdcb08d-5684-47e3-bfed-9170a206e13b.png)

The log doesn't seem to point to anything as

[2022-02-02 12:13] f0kx opened #182 "After deinstall log spam"
Hallo i installed your mod but I need to deinstall it again

Now when I join my console get spammed with

 [Server thread/ERROR]: Unknown structure start: repurposed_structures:outpost_giant_tree_taiga
[02.02 11:33:50] [Server] [Server thread/ERROR]: Unknown structure start: repurposed_structures:outpost_end
[02.02 11:33:50] [Server] [Server thread/ERROR]: Unknown structure start: repurposed_struc

[2022-02-02 12:23] TelepathicGrunt commented on #182
This is going to always happen when removing any structure mod. The references to the structure remains in the chunks and the game logspams as it removes it over time. It will not have any negative effect on gameplay in 1.18.1 (Mojang fixed the gameplay issues from missing structures in 1.18). Fabric API chose to let the logspam continue to happen instead of silencing it.

I would recommend just i

[2022-02-02 12:23] #182 closed, assigned to nobody

[2022-02-03 12:01] TelepathicGrunt opened #183 "End Mineshaft not spawning minecarts"

[2022-02-03 19:49] ghost opened #184 "generation broken for other structure mods with RS"
https://github.com/WaldiNet/Towers_Of_The_Wild_Reworked/issues/6

Locate always returns 'Could not find that structure nearby' for any structure from Towers of the Wild: Reworked when RS is installed. Locating vanilla structures and structures from RS works. Distance doesn't factor in and the same behaviour is reproducible with Mo' Structures + RS.

[2022-02-04 05:17] ghost commented on #184
I've changed the title as locate wasn't the problem. When Repurposed is installed towers just don't generate at all.

Two worlds, identical seeds. With no repurposed installed tower generates near spawn, within 5 minutes found multiple other towers while flying around - also visible on map.

With repurposed, no towers found within 20k of spawn. Disable repurposed and locate works but only finds to

[2022-02-04 08:57] Panderine commented on #184
This also affects structures from:

- AE2
- Awesome Dungeons
- Bosses of mass destruction
- When dungeons arise
- mo' structures
- sky villages
- soaring structures 2
- stoneholm
- towers of the wild

Doesn't affect:
- The Graveyard

[2022-02-04 11:55] TelepathicGrunt commented on #184
@Panderine errr. I was testing AE the other day with RS and it’s meteors were spawning just fine. Both of you, please make sure you’re using the latest RS update and latest Fabric API update.

It’ll be a bit before I get around to testing RS and fixing bugs as I’m still working on Bumblezone right now in my spare time

[2022-02-04 15:19] Aureljz commented on #184
I thought I'd share some extra details about the issue. I ran a few tests with latest Fabric API version, RS and Stoneholm alone to keep it simple (plus dependencies), as it follows:
* fabric loader 0.12.12
* fabric-api-0.46.4+1.18
* repurposed_structures_fabric-3.3.6+1.18.1
* stoneholm-1.4.2
* cloth-config-6.1.48-fabric
* no_null_processors_fabric-2.0.1+1.18.1
* feature_nbt_deadlock_be_gone_fabri

[2022-02-04 15:31] TelepathicGrunt commented on #184
ugh. what did fabric api do...
For now, everyone downgrade fabric api until i get around to looking into it

[2022-02-04 19:42] Panderine commented on #184
proly this:
fabric-api-0.46.3+1.18.jar
-Move biome modification into the MinecraftServer constructor (#1966) (shartte)

[2022-02-04 23:47] TelepathicGrunt commented on #184
update to 3.3.7 Repurposed Structures and give that a test please. See if that resolves the issue as in my local testing, it seems to work.
This update for RS requires the newest Fabric API version.

The changes I have done:
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/commit/f833d8394d757134107b3166b310f0b9d4831957

[2022-02-05 00:14] TelepathicGrunt commented on #184
Just tested my latest update with latest fabric api and some structure mods in production and it seems to be working just fine now
![image](https://user-images.githubusercontent.com/40846040/152619626-6068e300-af5c-4151-a11e-2a286daebc87.png)

[2022-02-05 01:02] ghost commented on #184
Can confirm that it works for me with multiple structure mods as well. Thanks very much.

[2022-02-05 01:02] #184 closed, assigned to TelepathicGrunt

[2022-02-06 18:32] #183 closed, assigned to TelepathicGrunt

[2022-02-09 17:26] CamperSamu opened #185 "Add config options to disable villager trades"
I use a different mod to add map trades to villagers and I'd like to disable RS custom map trades.

[2022-02-09 20:10] CamperSamu commented on #185
Ok so I found the time to check the code from my phone, this should be easy enough.
The config is flexible so it's just a matter of adding a new config module and adding a && tradeconfig.XTradeEnabled.

Once I get to code it I'll open a PR.

[2022-02-09 20:15] TelepathicGrunt commented on #185
Just fyi, I’m pretty sure mods like kubejs or craft tweaker let’s you remove my maps from trades.

I personally rather not have to add config entries for every structure because that’s a can of worms of hell. If I have one for turning off, then people will want one for adding other rs structures maps. Which then leads to about 100 new config entries which is difficult for me to maintain.

I’ll con

[2022-02-12 00:50] TelepathicGrunt commented on #185
v3.3.10 now has config/repurposed_structures-fabric/map_trade_configs.json5 config file that allows for adding/removing map trades in a more sustainable way for me and offers lots of options for players to configure. Do note, I do not have a way to detect what structure is disabled by the other configs. So if you disable an RS structure, you'll have to edit the map config to remove that map yourse

[2022-02-12 00:50] #185 closed, assigned to TelepathicGrunt

[2022-02-28 00:39] SndChaser opened #186 "A structure so massive it crashes the game..."
In MC 1.18.1 using RS 3.1.10 (Fabric) the mod generated an Jungle Fortress so massive that I literally cannot get around the whole thing without crashing the game:
![Minecraft_Massive_RS_Fortress_2022-02-27_17-23-56](https://user-images.githubusercontent.com/1224352/155906761-cc564988-2189-428a-8515-652e7e7073d2.png)
![Minecraft_Massive_RS_Fortress_2022-02-27_17-21-50](https://user-images.githubus

[2022-02-28 01:57] TelepathicGrunt commented on #186
Go into the config and set the jungle fortress spawnrate to a more reasonable value. Seems it was probably set to 1 or something. The default config value is 50. Remember, 1 is spawning in every chunk with a valid biome. 50 means a spawn attempt is tried roughly every 50 chunks apart. 1001 is to turn off the structure entirely. The comment on the config should explain this to help.

[2022-02-28 02:50] SndChaser commented on #186
I checked, and you were right, it was set to 1.  Weird thing: I'm new to mods and haven't made any changes to the settings for Repurposed Structures (honestly the wording on the settings was confusing -- your explanation here makes a lot more sense).

(Aside: the only mod I've changes settings on is the Dehydration mod as the descriptions of the settings made sense.  I don't change settings I don'

[2022-02-28 02:51] TelepathicGrunt commented on #186
weird. But at least this issue is now resolved! have fun!

[2022-02-28 02:51] #186 closed, assigned to nobody

[2022-03-04 22:26] Auzathoth opened #187 "Upgrading from 1.18.1 and chunks where structures were are re-generated"
Hi. I have a world that's been running in 1.18/1.18.1 with RS. It's currently on v3.3.12. Testing with a copy of the world in 1.18.2 with RS 4.0.0 and the log is full of some variant of:

04.03 17:20:42 [Server] Server thread/ERROR Couldn't load chunk [100, 29]
04.03 17:20:42 [Server] INFO java.lang.IllegalStateException: Found unknown structure: repurposed_structures:pyramid_mushroom
04.03 17:20:

[2022-03-04 22:33] TelepathicGrunt commented on #187
Yeah that’s normal logspam as all my structures were redone to utilize Mojang’s new json structure system. The old structures will lose their bounding boxes saved in the world but the blocks will remain as is. I’ll add a logspam suppressor in full release of RS but otherwise, you got nothing to worry about with that specific messages in logs

[2022-03-04 23:17] Auzathoth commented on #187
It's not only logspam. The chunks are regenerated and the existing structures are gone.

For example, this used to be a Mushroom village next to a temple:

![2022-03-04_22 20 02](https://user-images.githubusercontent.com/83247784/156854358-364c0080-3192-4703-b67a-2df56f6bfb42.png)

as it looked in 1.18.1:

![2022-03-04_23 15 47](https://user-images.githubusercontent.com/83247784/156854787-c2b03633

[2022-03-05 11:08] TelepathicGrunt commented on #187
I never seen that behavior before nor that missing structures cause chunk regen. Previous testing with missing structures have no cause that. If that’s the case for 1.18.2 due to Mojang’s internal changes, then there isn’t much I can do to preserve it as the 80+ base structures I had registered to the base structure registry no longer exist and won’t come back. They are all now in the configured s

[2022-03-05 14:50] TelepathicGrunt commented on #187
so this is most likely going to be fixed by Forge and fabric API since this affects all modded structures when updating old worlds. I contacted them both so hold off on updating your world until they release an update that helps preserve the chunks from being regenned.

[2022-03-05 14:52] TelepathicGrunt commented on #181
Im going to close this now as I am not seeing anyone else with the c2me issue over months now

[2022-03-05 14:52] #181 closed, assigned to TelepathicGrunt

[2022-03-05 14:53] TelepathicGrunt commented on #174
I decided against basically pirate ships in overworld as that's better suited for other mods to do such as Mo' Structures. I think Mo' Structures already has a pirate ship actually.

[2022-03-05 14:53] #174 closed, assigned to nobody

[2022-03-05 15:00] Auzathoth commented on #187
Ok. Thanks. I did come up with a work-around, but it involved loading the world in vanilla 1.18.1 and visiting all the places. Then they'd remain when the world was upgraded to 1.18.2.

[2022-03-06 15:59] kittech0 opened #188 "Port to 1.18.2"
Port for fabric 1.18.2

[2022-03-06 16:11] #188 closed, assigned to nobody

[2022-03-12 02:24] TelepathicGrunt opened #189 "Note to self: improve python script for json file creation"
need a python script to create all the json files for a new structure and also add to existing ones in my workspace

need a python script to extract my data and asset folder and put it into the config datapack and auto zip it for me to upload easier.

May want to make a python script to gen pool_additions datapacks to make creating mod compat datapacks faster and less error prone.

[2022-03-12 15:21] #189 closed, assigned to TelepathicGrunt

[2022-03-24 12:11] ghost commented on #187
Is this still a thing? I have a world I started on 1.18.1 and Ive held off updating, don't wanna encounter this as people utilize some of the new spawn structures either as bases or farming areas. Great work BTW! Love the mod

[2022-03-24 12:12] TelepathicGrunt commented on #187
Fabric api supposedly fixed the vanilla bug. You should make a backup of your world, update fabric api to latest, then update your world to 1.18.1, and double check to make sure everything is good. I forgot to closet this with this info

[2022-03-24 12:12] #187 closed, assigned to TelepathicGrunt

[2022-03-30 21:22] Zekiu opened #190 "Incompatibility with PolyMC resource generation"
[PolyMC](https://github.com/TheEpicBlock/PolyMc) is a server-side mod that makes 'non server-side only' mods work with vanilla clients. Starting with Repurposed Structures 4.0.2, PolyMC is unable to successfully generate a resource pack with RS installed. According to the logs, it's caused by something witch hut related

Here's the output of `/polymc generate resources` with only PolyMC, Fabric AP

[2022-03-30 21:26] TelepathicGrunt commented on #190
I think the issue is this line of this Lang files that is missing a , at the end.

https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/blob/c5d28bbc1283b59e5c62cb166c99e181ee3b2bf7/src/main/resources/assets/repurposed_structures/lang/zh_cn.json#L35

you can datapack replace that file for now to fix it and see if that resolves your issues

[2022-03-30 21:32] Zekiu commented on #190
Yup, it works now. I was actually checking the lang files as I suspected it may have been because of them, and zh_cn.json is the only file I didn't check. Talk about coincidence :P
Anyway, it works now with the required change, so this issue can be closed.

[2022-03-30 21:32] #190 closed, assigned to TelepathicGrunt

[2022-04-05 22:39] big-tdawg opened #191 "Inspecio with certain other mods causes RS to unable to get mobs for dungeons and structures"
Been getting this error spammed in my latest.log after updating to 1.18.2.

***************************************
[15:20:41] [Worker-Main-6/ERROR]:
***************************************
Failed to get mob. Please check that repurposed_structures:dungeons/deep.json is correct or that no other mod is interfering with how vanilla reads data folders. Let TelepathicGrunt know about this too!

[lates

[2022-04-06 01:16] TelepathicGrunt commented on #191
the conflict is between Charm and  Inspecio. The two breaks the resource listener that my mod and other mods uses which causes the rest of us to break. (In RS's cause, it causes my mob spawners to have pigs and my mod compat datapacks to not work properly). Removing Charm or Inspecio should prevent the issue until either one figures out the cause of the issue and updates. (Issue seems to be more o

[2022-04-10 22:35] Auzathoth opened #192 "End Shipwrecks not spawning in 4.1.1"
I know the changelog for 4.1.1 says "Fixed End Shipwrecks not spawning", but they do not seem to be spawning still. I've checked with a new world, teleporting out into the end. Running a /locate for eg an End Pyramid or an End Mineshaft works, but doing /locate shipwreck_end will basically hang the game/crash a server because it never finds one.

[2022-04-10 22:53] TelepathicGrunt commented on #192
fixed now in v4.1.2. Thanks!

[2022-04-10 22:53] #192 closed, assigned to TelepathicGrunt

[2022-04-16 12:07] TheButterbrotMan opened #193 "Crash at generating a new world"
https://bytebin.lucko.me/KSGClshVam

My game is crashing while generating a new world.

[2022-04-16 13:59] TelepathicGrunt commented on #193
It is crashing on this line but I do not see how that would be possible.
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/blob/e2fefd2d51ebe80ad70659a8e683f2cb22dd3ef9/src/main/java/com/telepathicgrunt/repurposedstructures/misc/maptrades/StructureMapTradesEvents.java#L49

Unless a mod has null trades for their villager profession which is bad. Besides more villagers, what other mods

[2022-04-16 14:05] TheButterbrotMan commented on #193
I recently updated Dj villagers and Botania.

[2022-04-16 14:05] TheButterbrotMan commented on #193
So probably its connected to Dj villagers then.

[2022-04-16 14:06] TheButterbrotMan commented on #193
https://github.com/dmkenza/DiscHolder_Fabric

[2022-04-16 14:15] TelepathicGrunt commented on #193
Looks like it is discholder. I am able to reproduce the crash. Will see if I can throw in a null check to bypass the issue and let them know to not have null trades (i think)

[2022-04-16 14:35] TelepathicGrunt commented on #193
Ok i see the issue. It's 100% my end. DJs have 6 trades. Not 5. So my loop for making a copy was hardcoded to 5 and would crash if it encounters villagers with more than 5 trade tiers. My bad. Fixing now

[2022-04-16 14:41] TelepathicGrunt commented on #193
v4.1.5 is out now and should fix this crash!

[2022-04-16 14:41] #193 closed, assigned to TelepathicGrunt

[2022-04-21 20:09] WillowMist opened #194 "Discord"
The discord invite in the README file is outdated.  Is there a current Discord link?

[2022-04-21 21:48] TelepathicGrunt commented on #194
Oh i didn't think anyone actually reads my github readmes lol. I have been keeping my CurseForge page up to date instead for the general info and links stuff: https://www.curseforge.com/minecraft/mc-mods/repurposed-structures-fabric

This is the channel link that is active right now: https://discord.gg/K8qRev3yKZ
(Discord Link to ModDevCafe where #telepathicgrunt-mods channel is for my mods)

[2022-04-27 05:49] Stranding14 opened #195 "Nether structures generate within BYG end biomes."
Hey there, I'm testing out a few mods together & noticed that nether repurposed structures will generate in BYG end biomes. This is on 1.18.2

Oh the biomes you'll go curse forge link: https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go-fabric

Not sure if these need to be blacklisted within one of the config files or it's another issue, just thought I'd report it in case.

Images

[2022-04-27 10:23] TelepathicGrunt commented on #195
Basically this issue: https://github.com/TelepathicGrunt/RepurposedStructures/issues/198

The short summary is byg has a typo in their c: nether biome tag and accidentally listed their end biomes in there. You’ll have to wait till they update to fix the typo or you can make a datapack to override that tag as a workaround.

https://github.com/AOCAWOL/BYG/blob/1.18.X/Common/src/main/resources/data/c

[2022-04-29 23:55] #194 closed, assigned to TelepathicGrunt

[2022-05-01 03:51] ENUSSOUL001 commented on #3
hello so this is a very long time here also new and idea, Magma Berg? using like Magma block nether block lava? and idk

[2022-05-01 03:53] ENUSSOUL001 commented on #4
hey after 1.19 release how about Deep Dark Village and deep dark outpost mineshaft dungeons and more haha and maybe in nether and end deep dark too

[2022-05-01 03:53] ENUSSOUL001 commented on #4
which resident is Warden haha lol

[2022-05-01 03:54] ENUSSOUL001 commented on #4
mountain village when???!!!

[2022-05-01 10:47] TelepathicGrunt commented on #3
Icebergs are not structures and thus, is outside the scope of my mod. It would be better for a biome mod to make a new biome dedicated to magma bergs. It would also look much better in a dedicated biome than trying to stuff them in existing biomes

[2022-05-01 10:50] TelepathicGrunt commented on #4
@ENUSSOUL001 I don’t plan on adding more structures to the deep dark. I rather wait until the full release of 1.19 to see exactly what the final looks of the deep dark is, how crowded it is or not, and what the ancient city structure is like.

Also, mountain villages are already added to repurposed structures. Check out the /locate command to find them

[2022-05-01 11:09] TelepathicGrunt commented on #195
Latest byg is said to have fixed this issue. Please give it a try and let me know if the issue persists.

[2022-05-01 11:09] #195 closed, assigned to TelepathicGrunt

[2022-05-10 01:12] Justsnoopy30 opened #196 "Major lag spikes caused by locateStructure() call on main thread when getting wandering trader recipes"
Spark profile: https://spark.lucko.me/ygqW1hSuBq
Screenshot of repurposed structures method causing lag spike: ![image](https://user-images.githubusercontent.com/33374736/167522799-a7fc7d4a-8337-4d10-b6bd-465d90ee8db4.png)

[2022-05-10 02:33] TelepathicGrunt commented on #196
This is vanilla behavior that I can’t really change. It’s how explorer maps works. In order for them to get the structure to show on the map, they have to actually find the structure in the first place. Which is why they run the locate command under the hood and that command takes time to find a structure. Especially if it is far away.

You can reproduce the same lag with opening shipwreck’s map c

[2022-05-10 02:33] #196 closed, assigned to TelepathicGrunt

[2022-05-11 10:16] camBrock98 opened #197 "Using /locate causes huge server lag"
Not too sure why but after installing onto my server and trying out /locate my servers CPU usage was maxxed and everyone eventually lost connection. it happens even when looking for the vanilla structure.

[2022-05-11 11:02] TelepathicGrunt commented on #197
That sounds like your server has a mod on that broke locate or caused vanilla structures to no longer spawn. Which causes locate command to run forever and stall the server which then kicks everyone off.

Are you positive that this is even rs’s fault? As I have tested locate before and it seems fine for all structures. Can you share your modpack with me?

[2022-05-11 11:14] camBrock98 commented on #197
yeah sure its something ive put together for few friends.

current mods running
- AdventureZ
- Architechtury
- Audaki cart engine
- badpackets
- cloth
- essential commands
- fabric api
- fabric tree chopper
- feature NBT deadlock be gone
- minecraft dungeons weapons and armour
- modern industrialization
- overweight farming
- repurposed structures
- roughly enough items
- world edit
- silkspawners

[2022-05-11 11:53] TelepathicGrunt commented on #197
What’s the world seed the server is using? I’ll give it a test later and see if I can reproduce it with those mods on

[2022-05-11 11:55] camBrock98 commented on #197
i appreciate it, the seed is 6262149710291815655

[2022-05-11 12:24] camBrock98 commented on #197
i just reinstalled to double check, command runs fine without RP and NBT deadlock be gone. installed and running the locate command runs forever.

[2022-05-11 12:27] TelepathicGrunt commented on #197
This is 1.18.2? It doesn’t make much sense as I don’t really touch the command and I use vanilla’s json file system to add my structures to biomes. Wondering if fabric api did something again as they had issues several times in the past with modded structures. (What version of fabric api and rs are you using?)

[2022-05-11 12:29] TelepathicGrunt commented on #197
Linking this as if this is the same issue, then this person didn’t mention that the lag spike isn’t just a few seconds but over a minute and kicks players off servers https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/196

[2022-05-11 12:36] camBrock98 commented on #197
rs - 4.1.6
api - 0.51.1

[2022-05-11 22:32] TelepathicGrunt commented on #197
just tested on a server I launched, locate seems to be working fine for me. I'm using latest fabric api, RS, etc. I made sure to show my entire mod list and the mod's versions in the picture. Is there any mod I missed or any datapack you have on as well?
![image](https://user-images.githubusercontent.com/40846040/167958174-ce3e9032-54b0-48e7-bec0-4af30e0b63ea.png)

[2022-05-11 23:46] camBrock98 commented on #197
Im going to try that version of architecture, might make a difference can't see it being that though. Do I have to generate a new world when installing or can I load onto an already part generated world? Sorry its late just finished work lol. Massive thanks for the help would love to get this running in this pack

[2022-05-12 00:01] TelepathicGrunt commented on #197
You should be able to load up past worlds just fine when updating the mods.

[2022-05-12 00:34] camBrock98 commented on #197
i cant thank you enough, it does seem to be working with both versions of cloth config and the older version of architecure installed. very strange! again thank you for your time these structures are awesome!

[2022-05-12 00:36] TelepathicGrunt commented on #197
Glad it is working now! Very odd tho. I’ll close this report then

[2022-05-12 00:36] #197 closed, assigned to TelepathicGrunt

[2022-05-12 00:40] TelepathicGrunt commented on #191
Posting here so others can see. It is some mods have an out dated server translation api inside causing the json reload listeners to no longer fire when with QSL. I talked with a dev and this is what he said. This is the mod he said to download to fix it temporarily

`But yeah, fix for now is just installing updated Server Translation API:` https://maven.nucleoid.xyz/fr/catcore/server-translations

[2022-05-12 00:40] #191 closed, assigned to TelepathicGrunt

[2022-05-15 19:06] Justsnoopy30 commented on #196
I see, I'm a bit surprised there isn't a mod to make this async and just update the map when the structure has been located through.

[2022-05-15 19:12] Justsnoopy30 opened #198 "Failed to create valid structure for repurposed_structures:cities/overworld/start_pool"
I got this message in the log while walking around. My repurposed structures config is at the defaults.
[code]

Full log: [latest.log](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/8695742/latest.log)
The last few log lines can be ignored, that was because I updated spark and hadn't restarted the server yet.

[2022-05-16 22:03] TelepathicGrunt commented on #198
That message appears when an RS structure with required pieces it must spawn tries over 100 different layouts and could not find one that had the required pieces. I do not know why in this one case, it failed to find a layout with the two large top rooms.

Unless... the spot it was spawning in was so high that it would've been cut off by world max build height. When that is about to happen, I have

[2022-05-18 16:22] itsdinkd opened #199 "[1.18.2 Crash] Nether Randomizer crashing?"
https://paste.corebot.dev/ihelupewuv.bash
MC: 1.18.2
RS Version: 4.1.7

Is this fixed in 4.1.8 by chance? The player who reported it to me is using a more recent, but older version of AQM2

[2022-05-18 16:26] TelepathicGrunt commented on #199
No, this looks more like the person either has a datapack or mod that blew up the structure processor json file that I use for the nether pyramid. Which then causes the pyramid to crash since the processor file was failed to be parsed by minecraft. The person will need to share their latest.log file as it might show the processor error just before world load. I also need a link to datapack to see

[2022-05-18 16:29] TelepathicGrunt commented on #199
Actually hold up, that pyramids/nether_randomizer doesn’t exist anymore in rs. It was changed a while ago to this name and path https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/blob/latest-released/src/main/resources/data/repurposed_structures/worldgen/processor_list/pyramids/nether.json

meaning the person has to be using a long outdated datapack. I definitely need a link to the mod

[2022-05-18 16:50] BigSmoke1425 commented on #199
hey, im the player that reported this crash.
Here is my latest log:
https://paste.corebot.dev/zawoteyoxi.md

[2022-05-18 16:54] itsdinkd commented on #199
https://www.curseforge.com/minecraft/modpacks/another-quality-modpack-2

[2022-05-18 22:16] TelepathicGrunt commented on #199
@itsdinkd I downloaded AQM2 v1.2.2 - [1.18.2] and could not find any mention of repurposed_structures:pyramids/nether_randomizer in any of the files. Not even kubejs files. I launched the game and teleported to a nether pyramid and did not get any crash. Everything seems to be fine and that processor call is probably not something within your modpack unmodified.
![image](https://user-images.github

[2022-05-19 14:35] BigSmoke1425 commented on #199
Hey, i can't find any files in the datapack folder. should i reset the chunks from the nether? if yes, then how can i reset it? And Thanks for the help :D (I updated on the new version from the modpack too)

[2022-05-19 14:37] TelepathicGrunt commented on #199
You can delete the nether chunks to reset it yeah. Go into the world’s save folder and into the folder for the world. Then delete the DIM-1 folder as that’s the folder that hold the nether’s data. Enter the game again and the nether should be remade from scratch again and fresh

[2022-05-19 14:59] BigSmoke1425 commented on #199
okay, i deleted the DIM-1. Lets hope its now working ^^

[2022-05-19 20:45] Supercow1122 opened #200 "Crashed when loading a chunk and can no longer load in without server crash"
As it states in the subject. I can provide the crash log if needed. Another thing is im using Another Quality Modpack 2 and i updated my server from 1.18.1 to 1.18.2 version of minecraft and im wondering if thats why this is happening. I have had other crashes that seem to have to do with Repurposed Structures in terms of which building is "causing" it. First was a witch hut and then now the lates

[2022-05-19 20:53] TelepathicGrunt commented on #200
Basically a duplication of this issue: https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/199

Tldr: it’s really not safe to try and upgrade heavily modded worlds. Especially with DFU quite hostile to modded data every update lol.

The chunks in the nether and such are saved with the old 1.18.1 repurposed structures data that no longer exists in 1.18.2 as I did a big rewrite in

[2022-05-19 20:53] #200 closed, assigned to TelepathicGrunt

[2022-05-19 20:59] TelepathicGrunt commented on #199
@itsdinkd can you let people know that it isn’t safe to upgrade modded worlds? Got a second report linked above of someone trying to upgrade a world and getting same crash. Basically, yeah, the chunks are saved with the old processor list path for structures.

In 1.18.2, I cleaned up my mod significantly and refactored a lot of stuff to use Mojang’s json structure system. In doing so, I also clean

[2022-05-19 21:20] TelepathicGrunt commented on #199
Sorry for the many message but @Supercow1122 and @BigSmoke1425, if you do not want to restart your worlds, try this datapack I made quickly. What it does it reintroduces the missing 1.18.1 RS processors lists that the chunks are looking for. From what I can tell, Pyramids and Witch Huts would be crashing when upgrading 1.18.1 or older RS worlds to 1.18.2 due to the refactors I did in my mod.
[Repu

[2022-05-19 22:00] Supercow1122 commented on #199
Thanks for the help! and response sorry about the repeat issue. Mustve not
seen it but i really appreciate it!

On Thu, May 19, 2022 at 4:20 PM TelepathicGrunt ***@***.***>
wrote:

[2022-05-19 23:08] itsdinkd commented on #199
Trust me.. I have... it's also everywhere in my discord, but I believe its from people who are hosting servers thru companies and upgrading that way.

[2022-05-26 04:12] MaranRoseGIT opened #201 "[Feature Request] Way to disable/modify the achievement structure/achievements?"
I'm wondering if there is any way to modify the achievements in repurposed-structures, as I have some of the structures disabled and they still are counted in the achievements section, I have players on my SMP who would want to 100% achievement run, and they are confused about why they can not. If there is no possible way currently, can you please add a way to edit such a thing? I hope this isn't

[2022-05-26 11:09] TelepathicGrunt commented on #201
You can disable advancements by datapack. Set their requirements to impossible and hide the advancement.

Example of a datapack I have listed on my mod page for disabling rs advancements. You can delete the files from this datapack for structures you want the advancements to show up for:
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/releases/tag/0.0.6

(Note, I may had forgot to i

[2022-05-26 11:09] #201 closed, assigned to TelepathicGrunt

[2022-05-27 11:46] ENUSSOUL001 commented on #4
oh ok and maybe add mangrove village when 1.19 release because june 7 is released so and a pilleger outpost mangrove,well? or well i i just listed it on post i

[2022-05-28 06:12] BigSmoke1425 commented on #199
Thank you very much for your help

[2022-05-29 00:02] TelepathicGrunt commented on #198
Closing as no additional info came up and no one else is reporting the issue

[2022-05-29 00:02] #198 closed, assigned to TelepathicGrunt

[2022-05-29 00:02] TelepathicGrunt commented on #199
closing as the datapack above resolves the issue when updating old worlds to 1.18.2.

[2022-05-29 00:02] #199 closed, assigned to TelepathicGrunt

[2022-06-02 16:08] BigSmoke1425 opened #202 "Server crash"
Hey, i writed you with the same problem but with the nether.
now after 2-3 weeks without updating my server is crashing now in the overworld.
What can i do?
MC 1.18.2

here is the crash log:
https://paste.corebot.dev/izuyinaqej.php

[2022-06-02 16:09] BigSmoke1425 commented on #202
https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/199

[2022-06-02 22:38] TelepathicGrunt commented on #202
That doesn't seem to show any info nor look like a normal crash report. All it says is
java.lang.Error: Watchdog
	at Not Enough Crashes deobfuscated stack trace.(1.18.2+build.3)
	at net.minecraft.server.dedicated.DedicatedServerWatchdog.run(DedicatedServerWatchdog:52)
	at java.lang.Thread.run(Thread.java:833)

Could try removing Not Enough Crashes and then give me the latest.log when it crashes ag

[2022-06-03 13:29] ardissaps opened #203 "[Datapack] Village spawn too many Foresty Bench fro "More Villagers" mods"
Like there is 5 Forestty Bench on 1 taiga Village as example. Is it intentional? Please investigate, thanks in advance

[2022-06-03 13:34] TelepathicGrunt commented on #203
Taiga village? That’s a vanilla village. Not an RS village. The datapack only adds More Villager’s houses to RS villages and makes them not spawn more than once in a single rs village.

More Villagers handles spawning in vanilla villages themselves even without my datapack. Please let me know if this is the case or if you meant a different village and one that’s actually from rs. (If you show a pi

[2022-06-03 13:43] ardissaps commented on #203
I see, so it "more village"  side need to be tuned? Sorry! I'll report again if happen on RS village. Thx for fast respone :p

[2022-06-03 13:46] TelepathicGrunt commented on #203
Yeah. Check their config. They may have an option to lower the weight of their houses so it has a smaller chance of spawning. It might help reduce the amount of their houses that spawns. It’s basically chance based which is why you may even see vanilla villages with multiple blacksmiths or churches. Though 5 of one workstation house is a bit excessive lol.

I’ll close this then. Maybe I’ll let the

[2022-06-03 13:46] #203 closed, assigned to TelepathicGrunt

[2022-06-03 17:27] BigSmoke1425 commented on #202
hello, here is my latest log: https://paste.corebot.dev/wasivazenu.md

[2022-06-03 21:24] TelepathicGrunt commented on #202
`Caused by: java.lang.IllegalStateException: Trying to access unbound value 'ResourceKey[minecraft:worldgen/processor_list / repurposed_structures:pyramids/generic]' from registry Registry[ResourceKey[minecraft:root / minecraft:worldgen/processor_list] (Stable)]`

When you downloaded the OldProcessor datapack, how exactly did you apply it to the game? Because the crash stacktrace says it cannot fi

[2022-06-03 22:42] TelepathicGrunt commented on #196
Looks like bright Spark made a new mod for Forge that turns explorer map's structure locating to be async. https://www.curseforge.com/minecraft/mc-mods/async-locator

He said he may be interested in doing a fabric version. When he does so, I'll release a new RS update to use his async map code so wandering traders no longer stall the server for a few seconds.

keep an eye on this mod!

[2022-06-04 07:50] BigSmoke1425 commented on #202
should i place the two files in the datapack folder or in the data folder?

[2022-06-04 10:09] TelepathicGrunt commented on #202
No, you place Repurposed_Structures-OldProcessors.zip entirely into the world’s datapack folder that’s in the world’s save folder. So it would be worldname/datapacks/Repurposed_Structures-OldProcessors.zip

This for sure should load the datapack properly. To check in-game, there’s a command to list what datapacks are on and active. I believe it is `/datapack list enable`. If you can see Repurposed

[2022-06-04 10:55] BigSmoke1425 commented on #202
okay thanks, i will trying it now

[2022-06-05 15:56] BigSmoke1425 commented on #202
its now working, thanks

[2022-06-05 15:57] #202 closed, assigned to TelepathicGrunt

[2022-06-07 14:20] ardissaps opened #204 "[Datapack Request] Newest YUNG's Witch Hut"
https://www.curseforge.com/minecraft/mc-mods/yungs-better-witch-huts-fabric

[2022-06-07 14:33] TelepathicGrunt commented on #204
Compat datapacks are on hold until I port all my mods to 1.19

this request has been added to this issue report that holds all mods to make compat datapacks with: https://github.com/TelepathicGrunt/RepurposedStructures/issues/113

[2022-06-08 02:37] ENUSSOUL001 commented on #4
now maybe add village deep dark

[2022-06-08 02:41] TelepathicGrunt commented on #4
I dont think i'll be adding villages to the deep dark lol. It just doesn't fit and the shulk will kill the villagers.

[2022-06-08 03:37] AbsorbingSafe11 commented on #4
instead of a village in the deep dark, I think building attempts (like if the builders died trying) of making a village in the deep dark that are made out of underground materials and are ruined, plus if they could be filled with undead mobs, (like if the corpses had lingering regret)
I think this is the best way to please the hundreds of people that want deep dark villages. (I have lost count of

[2022-06-08 07:43] ENUSSOUL001 commented on #4
i mean warden village

[2022-06-08 07:44] ENUSSOUL001 commented on #4
@TelepathicGrunt a warden village,is it's good?

[2022-06-08 07:44] ENUSSOUL001 commented on #4
or maybe it's bad

[2022-06-08 13:45] TelepathicGrunt commented on #4
@AbsorbingSafe11 I’m gonna need statistics on that hundreds of requests thing because I have never seen anyone asked for that lmao.

Simply said, there’s no logical reason for a regular village to be so far down and the idea of an ruined civilization is the entire point of the new Ancient City structure lol. And if said village was to be present and destroyed, that would require creating the struc

[2022-06-08 15:51] AbsorbingSafe11 commented on #4
I meant all of the requests I have seen across multiple discord channels and you are completely right about adding ruined abandoned villages to the deep dark doesn't make sense, for both reasons you mentioned. (I forgot the "Repurposed" part of Repurposed Structures)

[2022-06-08 19:50] TheSergioEduP opened #205 ""Failed to get mob" errors with "Quilted Fabric API""
While using "Quilt Loader" and "Quilted Fabric API" the following error (with different files) gets repeated all the time on the console

[code]

This issue does not happen when using "Quilt Loader" and the regular "Fabric API".

(Edited formatting of the code block)

[2022-06-08 19:52] TelepathicGrunt commented on #205
Known issue where there’s some other quilt mod causing the json reload listener to no longer fire

https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/191#issuecomment-1124411788

Some users still have issue even with new server translation api so the new offending mods are not yet found.

[2022-06-08 20:24] TheSergioEduP commented on #205
Updated server translation api did not work for me, after more testing removing the mod "Charm" also fixed it (while using "Quilted Fabric API"). Where would it be more appropriate to create a bug report/issue?

[2022-06-08 20:26] TheSergioEduP commented on #205
Never mind, seems like "Charm" doesn't support Quilt and won't be fixing issues with it.

[2022-06-08 20:26] #205 closed, assigned to TelepathicGrunt

[2022-06-09 02:25] ENUSSOUL001 commented on #4
deep dark village but residence is warden my talking about (joke)
https://m.youtube.com/watch?v=c5LQcUjhd7

[2022-06-09 02:27] ENUSSOUL001 commented on #4
deep dark village but residence is warden talking about:

https://youtube.com/watch?v=c5LQcUjhd7g

Joke

[2022-06-11 13:37] TelepathicGrunt commented on #205
@TheSergioEduP I talked with charm and they were able to make a build that might fix the issue. Can you test with this charm jar and issue if the issue is resolved?
[charm-fabric-1.18.2-4.1.2-TG.zip](https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/files/8883986/charm-fabric-1.18.2-4.1.2-TG.zip)

[2022-06-11 14:32] TheSergioEduP commented on #205
@TelepathicGrunt Thanks for your time, that version has fixed the issues that Charm was causing but I have left Quilt for now as it was having some other side effects with other mods.

[2022-06-16 02:56] Leedawg96 opened #206 "Items not spawning in chests"
In any structure I go to there are no items spawning in them

[2022-06-16 03:05] TelepathicGrunt commented on #206
ah crap.

[2022-06-16 03:26] TelepathicGrunt commented on #206
should be fixed in v6.0.1 now!

[2022-06-16 03:26] #206 closed, assigned to TelepathicGrunt

[2022-06-16 11:27] Geneticus opened #207 "Datapack Crash"
When I try to load an existing save I get an option for safe mode or return to title screen. When I try to create a new game I get a crash.

---- Minecraft Crash Report ----
// Uh... Did I do that?

Time: 6/16/22, 4:02 AM
Description: mouseClicked event handler

java.lang.ClassCastException: class net.minecraft.class_3294$class_7082 cannot be cast to class net.minecraft.class_3262 (net.minecraft.c

[2022-06-17 09:50] Mephodio opened #210 "RS dungeons don't seem to spawn"
I used another mod to highlight all spawners around me and I couldn't find any RS dungeons. So maybe wells also don't work, I can't check easily.
I tried to increase their count using datapack, no result.
There are no related errors in log.

Tested versions: 6.0.1+1.19 and 6.0.2+1.19.

[2022-06-17 11:03] TelepathicGrunt commented on #210
Should be fixed in v6.0.3 now. Thank you for letting me know!

[2022-06-17 11:03] TelepathicGrunt commented on #207
This is fixed in v6.0.2 now

[2022-06-17 11:03] #207 closed, assigned to nobody

[2022-06-17 13:48] Mephodio commented on #210
Most dungeons work now, but ocean ones are still not spawning, even with increased chance.

[2022-06-17 22:52] TelepathicGrunt commented on #210
Should be fixed now in v6.0.4

[2022-06-17 22:52] #210 closed, assigned to TelepathicGrunt

[2022-06-18 14:45] Mephodio commented on #210
It works, thanks!

[2022-06-19 10:40] TelepathicGrunt commented on #204
Create now: https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-better-witch-huts-compat

[2022-06-19 10:40] #204 closed, assigned to TelepathicGrunt

[2022-06-19 12:00] ardissaps commented on #204
Thank you very much! :)

[2022-06-26 22:56] CyberSteve777 opened #211 "Cursed WorldGen"
![2022-06-27_01 47 39](https://user-images.githubusercontent.com/69720241/175836863-5be43bab-170f-4ded-be85-9e8922c68079.png)
seed: 7672446156700300351

[2022-06-26 22:56] CyberSteve777 commented on #211
badland village is above these coords

[2022-06-26 23:06] TelepathicGrunt commented on #211
What version of rs are you using? Pretty sure I fixed this a while ago

[2022-06-27 02:55] ardissaps opened #212 "Any plan to make Variant of Stoneholm?"
[Stoneholm](https://www.curseforge.com/minecraft/mc-mods/stoneholm) village with RS variant would be awesome, like when under mesa, the village use red sandstone brick etc, while some with other brick style. Biome dependent.

[2022-06-27 02:57] TelepathicGrunt commented on #212
Stoneholm doesn’t change any vanilla structures themselves so it doesn’t fit my mod’s goal with repurposed vanilla structures. I think it would be better for Stoneholm to do the variants themselves and can do it the way they like it best. See if they like the idea!

[2022-06-27 02:57] #212 closed, assigned to nobody

[2022-06-27 09:18] CyberSteve777 commented on #211
6.0.7

[2022-06-27 22:14] TelepathicGrunt commented on #211
fixed now

[2022-06-27 22:14] #211 closed, assigned to TelepathicGrunt

[2022-07-02 20:45] BearfootNick opened #213 "Failed to create valid structure"
This didnt crash anything and is not really an issue for us, but it asked to report so here we are.

02.07 18:27:46 [Server] INFO -------------------------------------------------------------------
02.07 18:27:46 [Server] INFO Repurposed Structures: Failed to create valid structure with all required pieces starting from this pool file: repurposed_structures:villages/oak/town_centers. Required piec

[2022-07-02 22:47] TelepathicGrunt commented on #213
Which Waystone mod are you using as there’s two on fabric. And what Mc version and Waystone version?

[2022-07-02 23:01] BearfootNick commented on #213
My apologies we are using:

Fabric 13.3 1.18.1
Waystones mod 1.18.1 9.0.4 BlaytheNinth

https://www.curseforge.com/minecraft/mc-mods/waystones

[2022-07-03 00:52] TelepathicGrunt commented on #213
I am no longer supporting older mc version to reduce my workload. Iirc, I PRed a change for the RS compat into waystones in 1.18.2 to use my json compat system. Before then in older waystones, the compat was done through code I originally PRed but had a typo or something and caused the compat to not work. Hence why it was fixed in 1.18.2 and newer.

Pic from 1.19 I just tested.
![image](https://us

[2022-07-03 00:52] #213 closed, assigned to TelepathicGrunt

[2022-07-04 23:30] TelepathicGrunt opened #214 "Stone Mineshafts missing supports"
json seems fine so wtf is going on?
![image](https://user-images.githubusercontent.com/40846040/177225226-21b01c7a-311e-4565-bf14-d373df22b8d1.png)

[2022-07-05 00:28] TelepathicGrunt opened #215 "Icy Pyramid trap activating when spawned over oceans somehow"
big question is why are they spawning in frozen oceans too...

[2022-07-11 22:33] TelepathicGrunt opened #216 "rs_spawner replaces spawner with air in ocean dungeons/ocean mineshaft"
should add an optional field to the spawner nbt processor for replacement block if rs_spawner entry is blank for the structure

[2022-07-11 22:48] TelepathicGrunt commented on #216
Also fix end dungeons not replacing spawner with replacement block properly
![image](https://user-images.githubusercontent.com/40846040/178371588-9ddb1353-7a13-4d7c-a8f3-e367664addad.png)

[2022-07-12 07:26] gdog637 opened #217 "Cant get mod to work"
i have downloaded all dependencies, downloaded fabric api, and disabled all other mods, and this mod still will not generate the new structures

[2022-07-12 11:08] TelepathicGrunt commented on #217
What Mc version? What rs version and dependencies did you download? What is the error you are seeing if any? Server or singleplayer? Does /locate command show any rs structures in autocomplete?

[2022-07-12 21:39] gdog637 commented on #217
im running on 1.19 fabric using the 1.19 quilt/fabric version of rs. i downloaded the midnightlib mod also, which was the only thing on the dependency page. im receiving no errors, the structures just arent generating. they dont show up when i use /locate and even after flying around for about 5 minutes i only saw vanilla features. also, in singleplayer.i have also tried running in 1.18.2 andim ha

[2022-07-12 21:45] TelepathicGrunt commented on #217
If you are running fabric, use the Fabric version of RS. Not the Quilt version. Fabric will not run Quilt RS.

this is the latest fabric RS version
https://www.curseforge.com/minecraft/mc-mods/repurposed-structures-fabric/files/3857189

[2022-07-12 21:48] gdog637 commented on #217
ignore the past message, apparently i managed to accidentally download the quilt version

[2022-07-12 21:49] TelepathicGrunt commented on #217
No I’m talking about the file itself and not the project page. My bad on being unclear. That project page contains jars for both fabric and quilt. Is the jar you used called repurposed_structures_fabric-6.1.1+1.19.jar ?

[2022-07-12 21:50] gdog637 commented on #217
i appreciate the help, thank you

[2022-07-12 21:50] #217 closed, assigned to nobody

[2022-07-15 17:46] ghost opened #218 "Error in server console"
using repurposed strucutres 6.1.1-1.19
fabric api 57.0-1.19
fabric loader 0.14.8-1.19

[11:02:20 ERROR]: Registry is already frozen (requested key: ResourceKey[minecraft:worldgen/processor_list / repurposed_structures:pyramids/nether_randomizer])
[11:02:20 ERROR]: Exception loading structure piece with id minecraft:jigsaw
java.lang.IllegalStateException: Invalid pool element found
	at net.minecraf

[2022-07-15 18:34] TelepathicGrunt commented on #218
Duplicate of https://github.com/TelepathicGrunt/RepurposedStructures-Quilt/issues/199

@cpm9 please remove any outdated 1.18.2 or older RS datapack if you have any. If this is an old world you are trying to port up to 1.19, then use this datapack to try and make the chunks load again with their outdated data. https://github.com/TelepathicGrunt/RepurposedStructures-Quilt/issues/199#issuecomment-113

[2022-07-15 18:34] #218 closed, assigned to TelepathicGrunt

[2022-07-15 21:27] ghost commented on #218
Okay if thats the case I will no longer be using this mod on my server thanks

[2022-07-15 22:44] TelepathicGrunt commented on #218
I mean, the datapack I linked above would work as others verified it lol. But that's fine. However, I cannot promise that other structure mods or datapacks that you are using have not also refactored their processor list since 1.18.2 or older and would cause the same crash for their structures now in 1.19. it's just a bug with how vanilla reads structure data from the chunks

Hmm. Wouldn't be a ba

[2022-07-16 01:03] Roadhog360 opened #219 "1.18.2 Soul lanterns in Nether strongholds generate waterlogged"
![2022-07-15_20 00 02](https://user-images.githubusercontent.com/11903511/179328359-e7006af7-5636-42c7-b77a-94bcaf5d96a3.png)
![2022-07-15_20 00 54](https://user-images.githubusercontent.com/11903511/179328360-d021c272-8141-4fae-b065-13993f930bbb.png)
![2022-07-15_20 00 57](https://user-images.githubusercontent.com/11903511/179328361-7b559da4-f2c2-4303-89aa-16ee908bd362.png)

[2022-07-16 03:19] TelepathicGrunt commented on #219
Looks fine to me. Nothing's waterlogged when using RS alone. Sounds like another mod's issue. Just to be sure, this nether stronghold itself is not spawning in water that some other mod added to the nether for some odd reason?

![image](https://user-images.githubusercontent.com/40846040/179337256-d489f604-8ccb-4d1d-9f87-ba4353476deb.png)

[2022-07-16 03:20] TelepathicGrunt commented on #219
![image](https://user-images.githubusercontent.com/40846040/179337253-b234d0fe-764c-4cf5-a434-33bc1c6f7b82.png)

[2022-07-16 03:25] Roadhog360 commented on #219
No. As this seems to be a little less than a one-and-done issue I will attempt to give you more info to debug with. I can give my mods list but as a developer I think it would be far less cumbersome if I zoned into a specific culprit mod, if any.

[2022-07-16 05:39] Roadhog360 commented on #219
You are right; this does not happen without any other mods. I suspected it was because the lanterns were generating in lava, and waterlogging themselves as they replaced a liquid, but this assumption was wrong. I am going to look at it more tomorrow, for now here's a mod list.

[code]

[2022-07-16 22:25] TelepathicGrunt opened #220 "Add compat out of the box for wyther overhaul datapack"
their biomes arent tagged properly and the underground biome is damaging to rs underground bastion spawning.

[2022-07-23 01:50] TelepathicGrunt opened #221 "fix author crediting"
![image](https://user-images.githubusercontent.com/40846040/180585898-6ef39aa1-6c0f-4058-a556-fcf9daad35a9.png)

[2022-07-23 14:50] TelepathicGrunt commented on #220
Datapack made for compat. I am asking WWOO to add this to their mod/datapack so compat will be done mostly on their side with me only needing to handle a few edge cases on my side. Until then, you users can put on this datapack below yourself to make WWOO work much, much better with other mods and datapacks.

[wyther_tagged.zip](https://github.com/TelepathicGrunt/RepurposedStructures/files/9175795

[2022-07-23 21:40] TelepathicGrunt commented on #214
cannot reproduce it now? wtff?? Closing this i guess??

[2022-07-23 21:40] #214 closed, assigned to TelepathicGrunt

[2022-07-24 11:01] TelepathicGrunt commented on #219
It's been a week, thought I'll pop in and ask if you found what mod was waterlogging the lanterns? Just so I know what to look for if someone else reports the same issue

[2022-07-24 12:38] TelepathicGrunt commented on #221
done now in v6.1.1

[2022-07-24 12:38] #221 closed, assigned to TelepathicGrunt

[2022-07-24 12:38] TelepathicGrunt commented on #216
done now in v6.1.1

[2022-07-24 12:38] #216 closed, assigned to TelepathicGrunt

[2022-07-24 12:38] TelepathicGrunt commented on #215
done now in v6.1.1

[2022-07-24 12:38] #215 closed, assigned to TelepathicGrunt

[2022-07-24 13:19] Roadhog360 commented on #219
No sorry, I got sidetracked.

[2022-07-24 13:36] TelepathicGrunt commented on #219
That's alright, no rush tho. I'll keep this up to see if anyone else can chime in

[2022-07-25 05:54] sisby-folk opened #222 "Icy outpost is spawning in frozen ocean biomes"
Seems a bit silly innit?

![image](https://user-images.githubusercontent.com/55819817/180707609-f44f4f95-9f4e-4971-a042-a3bcac121c66.png)

alternative options might include, snow, packed ice, smooth stone, even.

(Admittedly the island is probably ususally coverred in snow, which would make it look better.)

[2022-07-25 10:13] TelepathicGrunt commented on #222
the island isn’t isn’t the issue. It’s the fact that the land structure is spawning in an ocean biome.

Aren’t you using fabric/quilt? Because c:icy tag has frozen ocean in it which I have a PR up to fix on fabric. So this isn’t a forge issue unless someone else or another mod is adding frozen ocean to c:icy or forge:is_icy tags https://github.com/FabricMC/fabric/pull/2416#pullrequestreview-104904

[2022-07-25 10:20] sisby-folk commented on #222
oh darn! yep, this was quilt honestly the frozen ocean outpost looked cool.
Cheers! feel free to close this.

On Mon, 25 Jul 2022, 8:14 pm TelepathicGrunt, ***@***.***>
wrote:

[2022-07-25 11:03] TelepathicGrunt commented on #222
I'll keep this open until fabric merges my PR just so the issue is documented and others can see. I'll also perform magic and move this over to the Quilt repo.

[2022-08-06 14:35] TelepathicGrunt commented on #219
Going to close this as it has been 13 days with no response and we already ruled my mod out as a cause.

[2022-08-06 14:35] #219 closed, assigned to TelepathicGrunt

[2022-08-08 12:12] TelepathicGrunt commented on #222
fabric api just merged the icy tag change into their 1.19.2 version to not include water biomes

[2022-08-08 12:12] #222 closed, assigned to TelepathicGrunt

[2022-08-09 00:52] TelepathicGrunt commented on #220
update to v3.1.2 WWOO as they included the fixed tags now

[2022-08-09 00:52] #220 closed, assigned to TelepathicGrunt

[2022-08-09 17:35] Auzathoth opened #223 "Using the portal in an Ancient End City makes multiple return gateways."
RS 6.2.0
MC 1.19.2
Quilt 0.17.2-beta.2

When using the portal in an Ancient City in the end multiple times, a new return gateway is created each time, stacked on top of the previous one:

First use:
![2022-08-09_18 16 01](https://user-images.githubusercontent.com/83247784/183716219-13571d80-0a0c-4136-88e4-07f928a16a53.png)

Second use:
![2022-08-09_18 16 13](https://user-images.githubusercontent.c

[2022-08-09 17:37] TelepathicGrunt commented on #223
That’s vanilla behavior it seems for new end gates way not spawned by vanilla. I don’t think I’ll be able to fix that without breaking other end gateway behavior. Might just have to be something to live with

[2022-08-10 02:13] TelepathicGrunt commented on #223
Just released a new update to fix this. Turns out, I can hijack End gateway's ExitPortal nbt and set a new destination myself. Doing so will make the portal not spawn an additional end gateway it seems. I set it so that the End Ancient City's End gateway teleports you to 0,0 coordinate in the End Dimension at topmost land.

[2022-08-10 02:13] #223 closed, assigned to TelepathicGrunt

[2022-08-20 19:36] TelepathicGrunt opened #224 "Villager Configs breaks Repurposed Structure's TreasureMapForEmeralds class"
https://github.com/DrexHD/VillagerConfig/issues/28

[2022-08-24 20:56] TelepathicGrunt commented on #224
fixed in v6.2.2 quilt

[2022-08-24 20:56] #224 closed, assigned to TelepathicGrunt

[2022-09-12 13:55] TheOldMan03 opened #225 "RS not working for Fabric 1.19.2 (No Quilt, only Fabric API and Fabric)"

[2022-09-12 14:00] TelepathicGrunt commented on #225
Did you make sure to grab the fabric version of RS instead of the quilt version? Fabric will not load the quilt RS jar.

fabric RS jar: https://www.curseforge.com/minecraft/mc-mods/repurposed-structures-fabric/files/3857189

If that does not work, please give me latest.log file and a picture of your mods folder with the rs jar inside

[2022-09-12 15:57] jga-03 commented on #225
How do I acquire the latest.log file?

[2022-09-12 16:08] TheOldMan03 commented on #225
![notwork](https://user-images.githubusercontent.com/103955893/189702896-d6f2f1ce-76d9-4b95-b98b-b5d31c4ee69d.png)
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures-Quilt/files/9549822/latest.log)

[2022-09-12 16:24] TelepathicGrunt commented on #225
This doesn’t look like a rs issue. You ran out of memory when the game was loading terralith’s structures. If that stops the game from loading rs structure files as well, then rs pieces won’t spawn too.
![EEA5E9A6-059D-4D04-8439-59C91D4F8F9B](https://user-images.githubusercontent.com/40846040/189706402-342c1531-cd93-4401-94ef-40a90cddf2e8.png)

Increase the amount of RAM being used. Also, I would

[2022-09-12 16:46] TheOldMan03 commented on #225
I have increased the RAM usage to 4GB, but the RS mod doesn't seem to work either
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures-Quilt/files/9550121/latest.log)

I have also removed removed Optifine and added Sodium Instead

[2022-09-12 16:56] TheOldMan03 commented on #225
Nvm The advancements have popped up for the RS mod, is the Jungle Pyramid still the default Minecraft Structure or is there any change to that?

[2022-09-12 17:26] TelepathicGrunt commented on #225
RS does not change vanilla structures. It only adds new variants of vanilla structures to other biomes/dimensions.

I loaded up Fabric RS 6.1.1 and it works for me. I am able to use locate command to find RS structures and teleport to them to see them spawned.
![image](https://user-images.githubusercontent.com/40846040/189717891-8641815c-625a-4deb-b107-4323f3262172.png)

[2022-09-12 17:41] TheOldMan03 commented on #225
Ok Then the issue is resolved, Thank you so much

[2022-09-12 17:41] #225 closed, assigned to TelepathicGrunt

[2022-10-06 01:02] TelepathicGrunt opened #226 "Report issues to https://github.com/TelepathicGrunt/RepurposedStructures/issues instead!"
I have combined my two Repurposed Structures repositories together and nowhttps://github.com/TelepathicGrunt/RepurposedStructures-Quilt/issues is a dead repo.

Please report issues with Quilt/Fabric Repurposed Structures to this other repo!
https://github.com/TelepathicGrunt/RepurposedStructures/issues

Thank you!